@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    scrollbar-width: thin;
    scrollbar-color: var(--logo-purple) transparent;

}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --logo-purple: #7300FF;
    --light-purple: #cb0bff;
    --magnolia: #f3eff5;
    --secondary-green: #00b273;
    --amber: #ffbe0b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.modal {
    z-index: 10;
}

.custom-shape-divider-bottom-1693180939 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693180939 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 235px;
}

.custom-shape-divider-bottom-1693180939 .shape-fill {
    fill: var(--logo-purple);
}

.bg-purple-gradient {
    background: rgb(115, 0, 255);
    background: linear-gradient(90deg, rgba(115, 0, 255, 1) 0%, rgba(203, 11, 255, 1) 87%);
}

.bg-purple {
    background-color: var(--logo-purple);
}

.bg-secondary-green {
    background-color: var(--secondary-green);
}

.bg-amber {
    background-color: var(--amber);
}

.bg-magnolia{
    background-color: var(--magnolia);
}

@media (max-width: 620px) {

    .title-resp{
        margin-top: 120px;
    }

}

@media (max-width: 1000px) {

    .servicos-container {
        display: flex;
        flex-direction: column;
    }

    .servicos-card {
        margin: 50px;
    }
}
